.banner {
    background-image: url('../../assets/images/pexels-photo-24377.jpg');
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}